<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
	<script src="/jquery/jquery.js"></script>
</head>
<body>
	<h1>Welcome, <%= name %></h1>
	<h3>Your ID, <%= id %></h3>


	<a href = "/admin/create">Create Employee</a> | 
	<a href = "home/userlist">Employee list</a> |
	<a href ="/logout">logout</a>

	<hr>
	<div>
			<br>
		
			<fieldset>
				
				<table>
					<tr>
						<td><label for="name">Search Employee: </label></td>
						<td>
							<input id = "name" class="name" type="text" name="name" placeholder="employee name">
						</td>
						<td>
							<button class="search">Search</button>
						</td>
					</tr>
				</table>
				
			</fieldset>
		
	</div>
	<div id="info">
		
	</div>
	<script src = "/main.js"></script>
</body>
</html>